.container{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
}

.logo{
  display: flex;
  padding: 10px;
}

ul.nav{
  display: flex;
}

h2{
  color: MediumAquamarine;
  padding-left: 10px;
}

ul.nav li{
  display: inline-block;
  text-decoration: underline;
  list-style: none;
  padding: 10px;
}
